.repository-page-pull-requests {
  padding: 20px;

  &__creation-button {
    margin: 10px 0;
  }

  &__create-first-pull-request {
    background: none;
    border: 0;
    color: var(--primary);
    font-size: 18px;
    font-weight: bold;
    outline: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
