.repository-page {
  margin-top: 50px;
  padding: 20px;
}

.repository-head {
  margin-bottom: 30px;

  &__name {
    line-height: 0;
  }
}

.repository-content {
  &__navbar {
    border-bottom: 1px var(--primary) solid;
    display: flex;
    justify-content: space-between;
  }
}
